<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/JS/index.js"></script>
    <script>
        //checkAge();

        handleSession()

        sessionLog();
        
    </script>
</head>
<body>
    <header id="header-index">
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
        <input id="search" type="text" oninput="contentFilter(document.getElementsByTagName('input')[0].value.toLowerCase())" size=50%>
    </header>
    <!--SIDEBAR-->

    <div class="bordered">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="video-title">1Rick Roll1</p>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="video-title">2Rick Roll2</p>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="video-title">3Rick Roll3</p>
        </div>
    </div>
    <!--FOOTER-->
</body>
</html>