<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="header-index">
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
    </header>
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <div class="search-box">
        <div class="text-input">
            <input type="type" name="name" value="" placeholder="Введите название видео" />
            <button>Найти видео</button>
        </div>
    </div>
    <div class="bordered">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Rick Roll</p>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Rick Roll</p>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>cam</p>
        </div>
    </div>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>
</html>